	.header {
		font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
		width: 100%;
		height: 76px;
		background-color: #ffffff;
	}


	.header ul {
		margin: 0; /* Обнуляем значение отступов */
		padding: 3px; /* Значение полей */
		text-align: right;
		margin-top: 35px;
		margin-right: 64px;
		font-weight:bold;
	}
		
	.header li {
		display: inline; /* Отображать как строчный элемент */
		margin-left: 15px; /* Отступ слева */
		padding: 2px; /* Поля вокруг текста */
		opacity:1;
		color:#000000;
		font-size: 12px;
		font-weight: 900;
		font-stretch: expanded;
		-moz-opacity:1;
		-khtml-opacity: 1;
	}


	.header li:hover {
		opacity:0.5;
		-moz-opacity:0.5;
		-khtml-opacity: 0.5;
	}
	
	a.logo {
		margin-left: 72px; 
		float: left;
	}
	
	a.active-header-link {
		color:rgb(93,138,168);
	}
	
	.header-blog {
		margin-bottom: 70px;
		width: 100%;
		height: 100px;
		background-color: #303030;
	}

	a.blog-button {
		position: absolute;
  		margin-top: 26px;
  		margin-left: 69px;
	} 

	.content {
		margin-left: 66px;
		max-width:750px; 
		max-height:600px;
		height: 100%;
	}

	.image-block {
		margin-top: 55px;
	}

	.blockquote-block {
		margin-top: 53px;
	}

	.video-block {
		margin-top: 45px;
	}

	.content h2 {
		font-size: 28px;
		text-align: left;
		font-weight: 900;
	}

	.content p {
		font-size: 16px;
		font-weight: 500;
		color: #666666;
		line-height: 1.3;
	}

	.content ul {
		margin: 0; /* Обнуляем значение отступов */
		padding: 3px; /* Значение полей */
		text-align: left;
		margin-top: 23px;
		font-weight:900;
		border-top: 1px solid #CCCCCC;
		padding-top: 5px;
		border-bottom: 1px solid #CCCCCC;
		padding-bottom: 8px;
	}
		
	.content li {
		display: inline; /* Отображать как строчный элемент */
		padding: 7px; /* Поля вокруг текста */
	}

	.content img {
		height: 415px;
		width: 740px;
		margin-left: 4px;
	}

	.post-link {
		color:#000000;
		opacity:0.6;
		-moz-opacity:0.6;
		-khtml-opacity: 0.6;
		border-right: 1px solid #CCCCCC;
		padding: 10px;
		font-size: 13px;
	}

	.post-read-more {
		margin-top:7px;
		color:rgb(93,138,168);
		float: right;
		font-size: 14px;
	}

	.content li:hover {
			opacity:1;
			-moz-opacity:1;
			-khtml-opacity: 1;
	}

	.content blockquote {
			margin: 0;
			padding: 0;
	}

	.content blockquote p{
			padding: 10px 0px;
			color: #999999;
			font:16px sans-serif;
			font-style: italic;
			font-weight: 600;
	}

	.page-block {
		margin-left: 78px;
		margin-top: 38px;
	}

	.page-block p {
		float: left;
		font-weight: 700;
		color:#000000;
		opacity:0.6;
		font-size: 14px;
	}

	.page-block ul {
		margin-top: 10px;
		margin-left: 10px;
		padding-left: 3px;
		text-align: left;
		float:left;
	}
		
	.page-block li {
		display: inline; 
		padding: 7px; 
		font-size: 15px;
		margin-right: 5px;
	}

	.page-block li.current {
		background-color:#000000;
		color: #FFFFFF;
		padding: .4em 0.7em;
	}

	.footer-block {
		margin-top: 150px;
		font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
		width: 100%;
		height: 300px;
		background-color: #68a4c4;	
	}

	.footer-block ul {
		max-width: 230px;
		width: 100%;
		margin-left: 50px;
		padding: 3px; /* Значение полей */
		text-align: left;
		list-style-type: none;
	}
		
	.footer-block li {
		margin-left: 15px; 
		padding: 3px; 
		color: #ffffff;
		font-size: 14px;
	}

	.footer-block a {
		color: #ffffff;
	}
	
	li.bold {
		font-weight: 900;
	}

	.footer-block p {
		color: #ffffff;
		font-size: 15px;
		font-weight: 900;
	}

	.footer-list-left {
		margin-top: 24px;
		float: left;
	}

	.footer-list-right {
		margin-top: 24px;
		float:right; 
		margin-right: 70px;
	}

	.footer-list-flickr {
		margin-top: 36px;
		float:right; 
		margin-right: 100px;
	}

	.menu {
		margin-top: -19px;
		margin-right: 34px;
		width: 360px; 
		height: 800px;
		float: right;
		border-left: 1px solid #CCCCCC;
		padding-left: 30px;
	}

	input[type=search]{
	  width: 320px;
	  height: 32px;
	  background:  #ffffff;
	  border: 1px solid black;
	  font-size: 14pt;
	  color: #63717f;
	  padding-left: 15px;
	}

	.menu-margin-div {
		margin-top: 40px;
	}
	
	.menu-margin-div  p {
		font-weight: 100;
		margin-top: 20px;
	}

	p.bold	{
		font-weight: 900;
		border-bottom: 1px solid #CCCCCC;
		margin-top: -3px;
	}
	
	p.mininews	{
		font-size: 18px; 
		margin-bottom:-8px;
		margin-top: 15px;
	}

	p.tags {
		margin-top:-10px;
		background-color: #E0E0E0;
		color: #000000;
		font-size: 17px;
		display: inline-block;
		padding: 5px 5px 5px 5px;
	}
	
	img.thumbs {
	float:left; 
	margin: 7px 7px 7px 0;
	}
	
	body {
		margin-right: 310px;
		margin-left: 310px;
	}

	a {
  		text-decoration: none; 
  		user-select: none; 	
  		color:#000000;	
	}

	p {
		color: #000000;
		font-size: 17px;
		font-weight: 100;
	}
	
	h6 {
		font-weight: 900;
		color: #000000;
		font-size: 18px;
	}

	@media all and (max-width: 1800px) {
		body {
			margin-left:250px;
			margin-right:250px;
		}
	}	
	
	@media all and (max-width: 1760px) {
		body {
			margin-left:220px;
			margin-right:220px;
		}
	}
	
	@media all and (max-width: 1600px) {
		body {
			margin-left:140px;
			margin-right:140px;
		}
	}

	@media all and (max-width: 1500px) {
		body {
			margin-left:90px;
			margin-right:90px;
		}
	}
	
	@media all and (max-width: 1400px) {
		body {
			margin-left:0px;
			margin-right:0px;
		}

	}
	
	@media all and (max-width: 1200px) {
		body {
			margin-left:0px;
			margin-right:0px;
		}
		
		content.img {
			height: 315px;
			width: 540px;
		}

		.header {
			width: 1200px;
		}	
		
		.headerBlog {
			width: 1200px;
		}
		
		.content {
			max-width:800px; 
		}
		
		.content img {
			height: 300px;
			width: 530px;
		}
		
		.footerBlock {
			width: 1200px;
		}
		
		.menu {
			width: 450px; 
		}
		
	}